/*

    Main import file for project.
    This file doesn't contain any actual styling rules, just @import statements for 
    the files that do contain styling rules.

*/
/*
    General Less variables, mostly colors.
*/
/*@theme: {
    background-primary:#1d1e22;     // Body background
    elemental-primary: #393f4d;     // Subsection / element background
    textual-primary: #feda6a;
    general-accent: #d4d4dc;
}*/
/*
    Styling for site-wide elements
*/
body {
  margin: 0px;
  background-color: #2C384A;
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #2C384A;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #999999;
  -webkit-box-shadow: inset 0 0 6px #2C384A;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #3f506a;
}
.VideoURLWrapper {
  width: 50vw;
  height: 80px;
  margin: 30vh auto 0px auto;
  background-color: #3f506a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*
    Video URL Input Field
    - Textbox, button, and the wrapper elements
*/
.VideoURLInput {
  width: 50vw;
  height: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.VideoURLInput input[type=text] {
  box-sizing: border-box;
  width: 40vw;
  height: 40px;
  margin-right: 10px;
  padding-left: 2px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
}
.VideoURLInput input[type=button] {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #FF8A65;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.RoomNavigation {
  height: 8vh;
  display: block;
  margin: 0px 0px 1vw 0px;
  position: relative;
  align-items: center;
  background-color: #3f506a;
}
.RoomNavigation .RoomLabel {
  margin: 2vh 0px 0px 1vh;
  position: absolute;
  align-items: flex-start;
  justify-self: flex-start;
  float: left;
  font-size: 24px;
  color: #FFF;
}
.toolbar {
  width: 3vw;
  min-width: 30px;
  height: 65vh;
  display: inline-block;
  margin-top: 3.5vh;
  background-color: #3f506a;
  border-radius: 4px;
}
.toolbar .icon-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.toolbar .icon-wrapper .icon {
  width: 24px;
  height: 24px;
  margin: 8px auto 0px auto;
  cursor: pointer;
  color: #FFF;
}
.toolbar .icon-wrapper .active-icon {
  background-color: #2C384A;
  border-radius: 24px;
}
.main-video-content {
  display: inline-block;
  vertical-align: top;
  margin: 3.5vh 7vw 0px 7vw;
}
.main-video-content .annotation-canvas {
  width: 65vw;
  height: 65vh;
}
.main-video-content .video-player {
  width: 65vw;
  height: 65vh;
  position: absolute;
  top: 11.5vh;
  border-radius: 4px;
  background-color: #3f506a;
}
#player {
  width: 65vw;
  height: 65vh;
  pointer-events: none;
}
.main-video-content .video-queue {
  width: 65vw;
  height: 15vh;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  border-radius: 4px;
  overflow-y: auto;
  background-color: #3f506a;
}
.main-video-content .video-queue .queued-video {
  display: flex;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;
  color: #e6e6e6;
  border-bottom: 2px solid #2C384A;
}
.main-video-content .video-queue .queued-video img {
  float: left;
  margin-right: 0.5vw;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  border: 2.5px solid #333333;
}
.main-video-content .video-queue .queued-video .text-container .queued-by {
  margin-top: 14%;
}
.chatbox {
  width: 16vw;
  height: 88.25vh;
  float: right;
  margin-top: 1vh;
  vertical-align: top;
  background-color: #3f506a;
}
.chatbox .chatboxmessage {
  background-color: #2C384A;
  vertical-align: bottom;
  height: 69.5vh;
  width: 15.5vw;
  border: 0.25vw;
  padding: 0px;
  border-style: solid;
  border-color: #3f506a;
  color: #FFF;
  font-family: 'Roboto', 'sans-serif';
  overflow-y: auto;
  overflow-wrap: break-word;
}
.chatbox .chatboxtext {
  height: 9vh;
  width: 15.5vw;
  border: 0.25vw;
  padding: 0px;
  border-style: solid;
  border-color: #3f506a;
  background-color: #2C384A;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}
.chatbox .chatboxbutton {
  width: 15vw;
  height: 3vh;
  margin: 0px 0.5vw 0px 0.5vw;
  border: none;
  border-radius: 4px;
  background-color: #FF8A65;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.chatbox .chattabbutton {
  width: 7.375vw;
  height: 3vh;
  margin: 0.5vh 0.25vw 0px 0.5vw;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #FF8A65;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.chatbox .chatlisttabbutton {
  width: 7.375vw;
  height: 3vh;
  margin: 0.5vh 0.5vw 0px 0px;
  border: none;
  border-radius: 4px;
  background-color: #FF8A65;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
