.main-video-content{
    display: inline-block;
    vertical-align: top;
    margin: 3.5vh 7vw 0px 7vw;
}

    .main-video-content .video-player{
        width: 65vw;
        height: 65vh;
        
        border-radius: 4px;
        
        background-color: @theme[background-secondary];
    }

    .main-video-content .video-queue{
        width: 65vw;
        height: 15vh;


        
        margin-top: 3.5vh;
        margin-bottom: 3.5vh;
        border-radius: 4px;
        overflow-y: auto;

        background-color: @theme[background-secondary];
        
    }

        .main-video-content .video-queue .queued-video{
            display: flex;
            height: 60px;
            margin-left: 4px;
            margin-right: 4px;
            color: darken(@theme[text-primary], 10);
            border-bottom: 2px solid @theme[background-primary];

        }
            .main-video-content .video-queue .queued-video img{
                float: left;
                margin-right: .5vw;
                margin-top: 1.5px;
                margin-bottom: 1.5px;
                border: 2.5px solid lighten(black, 20);
            }

            .main-video-content .video-queue .queued-video .text-container{
                //nothing here yet
            }
            .main-video-content .video-queue .queued-video .text-container .queued-by{
                margin-top: 14%;
            }
        ::-webkit-scrollbar {
            width: 12px;
        }
         
        /* Track */
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px @theme[background-primary]; 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
         
        /* Handle */
        ::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: darken(@theme[text-primary], 40%);
            -webkit-box-shadow: inset 0 0 6px @theme[background-primary];  
        }
        ::-webkit-scrollbar-thumb:window-inactive {
            background:@theme[background-secondary]; 
        }