.main-video-content{
    display: inline-block;
    vertical-align: top;
    margin: 3.5vh 7vw 0px 7vw;
}

    .main-video-content .annotation-canvas{
        width:65vw;
        height: 65vh;
    }

    .main-video-content .video-player{
        width: 65vw;
        height: 65vh;
        
        position: absolute;
        top: 11.5vh;

        border-radius: 4px;
        
        background-color: @theme[background-secondary];
    }

    .main-video-content .video-queue{
        width: 65vw;
        height: 15vh;


        
        margin-top: 3.5vh;
        margin-bottom: 3.5vh;
        border-radius: 4px;
        overflow-y: auto;

        background-color: @theme[background-secondary];
        
    }

        .main-video-content .video-queue .queued-video{
            height: 60px;

            margin-left: 4px;
            margin-right: 4px;

            border-bottom: 2px solid @theme[background-primary];
        }